* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  position: relative;
}

.toggler {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  width: 100px;
  height: 40px;
  border-radius: 2rem;
  background-color: #a8dadc;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .toggler {
    bottom: 0.5rem;
    left: 0.75rem;
  }
}

.toggler img {
  height: 22px;
  width: 22px;
}
/* transition effect on this element 👇🏻 */
.toggle-ball {
  position: absolute;
  height: 32px;
  width: 32px;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #457b9d;
  transition: all 0.5s ease-in-out;
}

.flex-it {
  display: flex;
  align-items: center;
}

.goRight {
  left: 60px;
}

.inputWrapper {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lower-login {
  text-align: center;
}
